* {
  box-sizing: border-box;
}

body {
  padding: 0%;
  width: 100%;
}

.main-container {
  width: 80%;
}

img {
  width: 200px;
  border-radius: 2%;
}

.six-people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}
